{{ partial "header.html" . }}

<div class="ui relaxed grid dream-grid dream-back">
  {{ $headless := .Site.GetPage "/about" }}
  {{ $aboutPages := $headless.Resources.ByType "page" }}
  {{ range $aboutPages }}
  <div class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    <article class="ui segment markdown-body">
      <div class="ui medium header">{{ .Title }}</div>
      {{ .Content | emojify }}
    </article>
  </div>
  {{ end }}

  <div class="sixteen wide mobile eight wide tablet four wide computer column dream-column"
    style="position: absolute; left: 0px; top: 0px;">
    <article class="ui segment markdown-body">
      <div class="ui medium header">
        <center>清心诀</center>
      </div>
      <center>
        <p>心若冰清，天塌不惊。</p>
        <p>万变犹定，神怡气静。</p>
        <p>尘垢不沾，俗相不染。</p>
        <p>虚空甯宓，浑然无物。</p>
        <p>无有相生，难易相成。</p>
        <p>份与物忘，同乎混涅。</p>
        <p>天地无涯，万物齐一。</p>
        <p>飞花落叶，虚怀若谷。</p>
        <p>千般烦忧，才下心头。</p>
        <p>即展眉头，灵台清幽。</p>
        <p>心无挂碍，意无所执。</p>
        <p>解心释神，莫然无魂。</p>
        <p>水流心不惊，云在意俱迟。</p>
        <p>一心不赘物，古今自逍遥。</p>
      </center>
    </article>
  </div>

  <div class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    <article class="ui segment">
      <div class="ui medium header">{{ i18n "socialLinks" }}</div>
      {{ partial "socials.html" (dict "Site" .Site "IconSize" "large") }}
    </article>
  </div>

  <div class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    {{ if .Site.Copyright }}
    <article class="ui segment">
      {{ .Site.Copyright | safeHTML }}
    </article>
    {{ end }}
  </div>

  {{ if and .Site.DisqusShortname .IsHome }}
  <div class="sixteen wide mobile eight wide tablet eight wide computer column dream-column">
    <article class="ui segment">
      {{ partial "disqus.html" (dict "Context" . "Identifier" "/") }}
    </article>
  </div>
  {{ end }}
</div>