{{ if or .Site.Params.backgroundDark .Site.Params.backgroundImageDark }}
<nav class="ui secondary menu dream-menu dream-nav">
{{ else if .Site.Params.darkNav }}
<nav class="ui secondary inverted menu dream-menu dream-nav">
{{ else }}
<nav class="ui secondary menu dream-menu dream-nav">
{{ end }}

  <!-- 首页 -->
  <a class="item" href="{{ .Site.BaseURL }}" title="{{ i18n "home" }}">
    <span class="nav">🏡 主页</span>
  </a>

  <!-- 归档 -->
  {{ if gt (len (where .Site.RegularPages "Section" "==" "posts")) 0 }}
  <a class="item" href="{{ "posts" | relLangURL }}">
    <span class="nav" title="{{ T "archives" }}">📑 归档</span>
  </a>
  {{ end }}

  <!-- 类别 -->
  <a class="item" href="{{ "categories" | relLangURL }}">
    <span class="nav" title="{{ T "allCategories" }}">🎯 分类</span>
  </a>

  <!-- 标签 -->
  <a class="item" href="{{ "tags" | relLangURL }}">
    <span class="nav" title="学习">🚀 学习</span>
  </a>

  <!-- 搜索 -->
  {{ if .Site.Params.enableSearch }}
  <a class="item" title="{{ i18n "search" }}" onclick="toggleSearch(event)">
    <span class="nav">🔍 搜索</span>
  </a>
  {{ end }}

  <!-- 主题 -->
  {{ if or .Site.Params.backgroundDark .Site.Params.backgroundImageDark }}
  <a class="item" onclick="themeSwitch(event)" title="主题">
    <span class="nav theme-switch">🌻 主题</span>
  </a>
  {{ end }}

  <!-- 翻转 -->
  <a class="item dream-flip-toggle" title="{{ i18n "flip" }}">
    <span class="nav">🦸 关于</span>
  </a>


</nav>
